<!DOCTYPE html>
<html lang="en">
<style>
  .center {text-align: center; }
</style>

<nav class="navbar navbar-inverse" style="border-radius:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project 4</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../welcome/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<head>
  <meta charset="UTF-8">
  <title>New Employee</title>
</head>


<div class ="jumbotron center">
  <h2>Add Employee </h2>
</div>
<body class="center">
<div class = "content-box">
<%= form_for :add_emp, url: employees_path do |f| %>
      <div class ="row">
    <div class = "col-md-4">
      <%=f.label :username %><br>
      <%= f.text_field :username,class:'form-control' %>
    </div>
    <div class="col-md-4">
      <%=f.label :password %><br>
      <%= f.text_field :password,class:'form-control'  %>
    </div>
      </div>
      <div class ="row">
    <div class = "col-md-4">
      <%=f.label :firstname %><br>
      <%= f.text_field :firstname ,class:'form-control' %>
    </div>
    <div class = "col-md-4">
      <%=f.label :lastname %><br>
      <%= f.text_field :lastname,class:'form-control'  %>
    </div>

    <div class = "col-md-2">
      <%=f.label :supervisor %><br>
      <%= f.select :supervisor,[['Yes','1'],['No','0']],class:'dropdown-menu'  %>
    </div>
      </div>
      &nbsp;
      <div class = "row">
    <div class = "col-md-4">
      <%= f.submit "Add Employee",class:'btn btn-primary'  %>
    </div>
      </div>
  <% end %>
  </div>
</body>
</html>