<!DOCTYPE html>
<html lang="en">
<style>
  .center {text-align: center; }
</style>

<nav class="navbar navbar-inverse" style="border-radius:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project 4</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../welcome/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<head class="center">
  <meta charset="UTF-8">
  <title>New Employee</title>
</head>


<div class ="jumbotron center">
  <h2>Add Employee </h2>
</div>
<body class="center">
<%= form_for :add_emp, url: employees_path do |f| %>
    <p>
      <%=f.label :username %><br>
      <%= f.text_area :username %>
    </p>
    <p>
      <%=f.label :password %><br>
      <%= f.text_area :password %>
    </p>
    <p>
      <%=f.label :firstname %><br>
      <%= f.text_area :firstname %>
    </p>
    <p>
      <%=f.label :lastname %><br>
      <%= f.text_area :lastname %>
    </p>
    <p>
      <%=f.label :supervisor %><br>
      <%= f.text_area :supervisor %>
    </p>
    <p>
      <%= f.submit "Add Employee" %>
    </p>
  <% end %>
</body>
</html>