<style>
  .center {text-align: center; }
</style>

<nav class="navbar navbar-inverse" style="border-radius:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project 4</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Projects</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../welcome/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class ="jumbotron center">
    <h2>Welcome to All Project Page </h2>

    <%= link_to '<button type="button">Add A Project</button>'.html_safe, employees_add_pro_new_url %>
    <%= link_to '<button type="button">View All Employees</button>'.html_safe, employees_view_all_emp_url %>


  </div>
  <h2 class="center">All Projects</h2>
  <table class="table table-bordered table-hover">
    <thead>
    <td>Project Name</td>
    <td>Start Date</td>
    <td>End Date</td>
    <td>Location </td>
    </thead>
    <tbody>
    <%iterate = 0%>
    <%while iterate < @count  do %>
        <tr>
          <td>
            <%= @allProJson[iterate]["pname"]%>
          </td>
          <td>
            <%= @allProJson[iterate]["start_date"]%>
          </td>
          <td><%= @allProJson[iterate]["end_date"]%></td>
          <td><%= @allProJson[iterate]["location"]%></td>
        </tr>
        <%iterate += 1%>
    <%end%>
    </tbody>
  </table>
</div>
